<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Sudoku Game
  </h1>

</div>
<div class="main-window">
 <app-game-board></app-game-board>

</div>
