

  <div class="game-window">
    <div class="problems-menu">

      <div class="button-wrapper" >
        <button     class="btn btn-primary " type="button" (click)="generateProblemsClick()">
          <strong>Start the Game</strong>
        </button>
      </div>

      <div *ngIf="gameSet"  class="problems-menu" >
        <div  class="button-wrapper" *ngFor = "let problemId of problemIds  ">
          <button    class="btn btn-primary" type="button" (click)="getProblemClick(problemId)">
            <strong>Get Problem: {{ problemId + 1}}</strong>
          </button>
        </div>
      </div>
    </div>

    <div class="board-main">
      <div *ngIf="gameSet"   >

          <div class = "board-menu">
            <div class="button-wrapper"><button tooltip="CTRL + CLICK to fast hint the sqaure."     class="btn btn-primary" type="button" (click)="getHint()">
              <strong>Reveal Square</strong>
            </button></div>


            <div class="button-wrapper"><button title="Validate Solution" class="btn btn-primary" type="button" (click)="validateSolutionClick()">
              <strong>Validate Solution</strong>
            </button></div>


            <div class="button-wrapper"><button   class="btn btn-primary" type="button" (click)="makeProposal()">
              <strong>Make Proposal</strong>
            </button></div>

          </div>



        <!-- TODO: прорисовать 3 и 6 линии -->
        <div class="board-wrapper">
           <!--<div *ngFor="let row of gameBoard$ | async"> -->
            <div   *ngFor="let row of currentBoard" >
            <div>
              <div class="box" *ngFor="let cell of row"  (click) = "focusCell(cell, $event)" [ngClass]="getBoxClass(cell)"  >
                        {{ cell.visible ? cell.value : ''}}

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div  *ngIf="gameSet"  class="number-menu">
      <div  class = "num-box-hover" *ngFor = "let num of numbersMenu" (click)="pickNumber(num)"[ngClass]="getMenuNumberClass(num)" >
        {{num == 0? '' : num}}
      </div>
    </div>
  </div>
