.game-window{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
}
.number-menu{
    display: flex;
    flex-direction: column;
}
.problems-menu{
  display: flex;
  flex-direction: column;
}
.board-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-wrapper{
  padding: 0.2em;
}
.box{
  border:lightslategrey;
  border-style: solid;
  background: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 3em;
  font-style: normal;
}
.box:hover{
  border: blue;
  border-style:  inset;

}

.box-hint{
  background: darkorange;
}
.box-focused{
   background: cornflowerblue;
}
.board-wrapper{
  display: flex;
  height: 630px;
  width: 630px;
  padding: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.num-box{
  border:black;
  border-style: solid;
  background: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 3em;
  font-style: normal;
}
.num-box-hover:hover{
  background: chartreuse;
}
.menu-number-focused{
  background: chartreuse;
}

